/* Navbar */
.logo {
  max-width: 207px;
}

.container nav {
  padding: 26px;
  justify-content: space-between;
  align-items: center;
}

.container .nav {
  width: 606px;
}

.container .nav ul {
  font-size: 20px;
  justify-content: space-between;
}

.container .nav ul a { color: #667787; }

.container .nav .btn {
  margin-left: 14px;
  margin-right: 13px;
  color: white;
}

/* Header */
header {
  background-color: lightblue;
  margin-top: -119px;
  padding-top: 198px;
  padding-bottom: 146px;
}

header .container {
  padding-left: 42px;
}

header .learn-more .buttons {
  margin-top: 54px;
}

header .learn-more .buttons .learn {
  margin-left: 29px;
}

.features {
  margin-top: 172px;
}

.features .top {
  text-align: center;
  margin-bottom: 95px;
}

.features .card {
  padding: 26px;
  box-shadow: 0 10px 10px #667787
}

.features .card img {
  max-width: 67px;
  margin-bottom: 25px;
}

.features .container.grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 40px;
  gap: 40px;
}

.banner-one {
  background-color: #f9fafe;
  margin-top: 144px;
  padding-top: 158px;
}

.banner-one .flex {
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.banner-one img {
  max-width: 674px;
  height: 469px;
}

.banner-one .flex div {
  margin-top: 64px;
  margin-left: 47px;
}

.banner-one .flex div p {
  margin-bottom: 56px;
  font-size: 38px;
  line-height: 1.1;
  color: black;
}

.why {
  margin-top: 103px;
  text-align: center;
}

.why .bottom.flex {
  padding: 0 137px;
  margin-top: 94px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why .bottom.flex i {
  font-size: 8px;
  color: #0166fe;
  background-color: #ecf2ff;
  padding: 29px;
  border-radius: 50%;
}

.why .bottom.flex h3 {
  font-weight: 400;
  margin-top: 1px;
}

.why .bottom.flex hr {
  width: 239px;
  color: #e6e9f2;
}

.why .bottom-text.grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 27px;
}

.video {
  background-image: url("../assets/banners/banner_two.jpg");
  margin-top: 118px;
  position: relative;
  text-align: center;
  height: 554px;
}

.video a i {
  font-size: 28px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 20px;
  padding: 36px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
}